@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

body
{
  padding: 0;
  margin: 0;
}
.container
{
  margin-top: 8rem;
  margin-left: 20rem;
}
.card
{
	height: 29rem;
	width: 18rem;
  display: inline-block;
  box-sizing: border-box;
  padding: 1em 0em 1em 3em;
}
h1
{
  font-size: 5ch;
}
.sedan
{
  background: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.suv
{
  background: hsl(184, 100%, 22%);
  margin-left: -4px;
}
.luxury
{
  background: hsl(179, 100%, 13%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: -4px;
}
.header
{
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
  padding-top: .5em;
}
.body
{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.8ch;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 2.5ch;
  padding: .5em 3em 5em 0em;
  opacity: .8;
}
input
{
  border: 1px solid hsl(0, 0%, 95%);
  border-radius: 30px;
  font-size: .9em;
  color: grey;
  font-family: 'Lexend Deca', sans-serif;
  cursor: pointer;
  background: hsl(0, 0%, 100%);
  letter-spacing: .1ch;
  padding: .8em 1.5em .8em 1.5em;
}
input:hover
{
  background: transparent;
  color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 0px 1px #fff;
  transition: background-color 0.5s;
}
img
{
  padding-top: 2em;
}
a{
  text-decoration: none;
  pointer: cursor;
  outline: none;
}
footer
{
  margin-top: 120px ;
  font-family: "lexend deca";
  font-size: 12px;
  font-weight: 700;
  color: black;
  letter-spacing: .2ch;
  word-spacing: .8ch;
  float: right;
}

@media screen and (min-width: 375px) 
  and (orientation: portrait)
{
.container
{
  margin-top: 5em;
  margin-left: 3.2em;
}
.card
{
  height: 430px;
  width: 300px;
  display: inline-block;
  box-sizing: border-box;
}
.sedan
{
  border-radius: 10px 10px 0px 0px;
  margin-left: -4px;
}
.luxury
{
  border-radius: 0px 0px 10px 10px;
}
.body
{
  padding-bottom: 1em;
}
input
{
  border: 1px solid hsl(0, 0%, 95%);
  border-radius: 30px;
  font-size: 1em;
  color: grey;
  font-family: 'Lexend Deca', sans-serif;
  cursor: pointer;
  background: hsl(0, 0%, 95%);
  margin-top: 2em;
  outline: none;
  margin-bottom: 2em;
}
input:hover
{
  background: transparent;
  color: hsl(0, 0%, 95%);
  box-shadow: 0px 0px 0px 1px #fff;
  transition: background-color 0.5s;
  outline: none;
}
footer
{
  text-align: center;
  margin-bottom: -3em;
  letter-spacing: .1ch;
  word-spacing: .5ch;
}
}